@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
img, .wrapper, .topbar, .topbar .container, .sidebar .container, .sidebar .sidebar-icon_container, .dashboard, .dashboard .dashboard-topbar, .dashboard .dashboard-topbar-leftside, .dashboard .dashboard-alertbar .dashboard-alertbar-inner, .dashboard .dashboard-traffic .dashboard-traffic-navbar, .dashboard .dashboard-traffic .dashboard-traffic-navbar .dashboard-traffic-navbar-leftside, .dashboard .dashboard-traffic .dashboard-traffic-navbar .dashboard-traffic-navbar-rightside, .dashboard .dashboard-social .dashboard-social-boxes, .dashboard .dashboard-members .dashboard-members-leftside .dashboard-new_members-container, .dashboard .dashboard-members .dashboard-recent_activity-container, .dashboard .dashboard-settings .dashboard-settings-leftside .dashboard-settings-container, .dashboard .dashboard-settings .dashboard-settings-right-container, .dashboard .dashboard-settings .dashboard-settings-right-container .dashboard-settings-right-select, .dashboard .dashboard-settings .dashboard-settings-right-container .dashboard-settings-right-buttons {
  width: 100%; }

.container, .topbar .leftside, .topbar .rightside, .sidebar, .dashboard .dashboard-topbar-leftside, .dashboard .dashboard-traffic .dashboard-traffic-navbar .dashboard-traffic-navbar-leftside, .dashboard .dashboard-traffic .dashboard-traffic-navbar .dashboard-traffic-navbar-rightside {
  height: 100%; }

.container, .dashboard {
  max-width: 100%; }

.wrapper, .container {
  margin: 0 auto; }

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle; }

* {
  margin: 0;
  padding: 0;
  border: 0; }
  * {
    outline: none;
    box-sizing: border-box; }

html {
  font-size: 100%; }
  html, html a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }
  html, html body {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto; }

body {
  line-height: 1.6;
  background-color: #FBFBFB;
  font-family: "Open Sans", "helvetica", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2; }

ul, li, a {
  margin: 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

.container {
  width: 90%; }

/****************************************************************

Topbar Rules

****************************************************************/
.topbar {
  height: 70px;
  position: relative;
  z-index: 1000;
  background: #7479BD; }
  .topbar .container {
    padding: 0 20px 0 10px;
    display: flex; }
    @media screen and (min-width: 768px) {
      .topbar .container {
        padding: 0 20px 0 20px; } }
  .topbar .leftside, .topbar .rightside {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row; }
  .topbar .leftside {
    justify-content: flex-start; }
    .topbar .leftside .nav-toggle {
      width: 40px;
      height: 40px;
      margin: 0 10px 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer; }
      .topbar .leftside .nav-toggle.is-open {
        padding: 0 0 0 3px; }
      .topbar .leftside .nav-toggle span, .topbar .leftside .nav-toggle span::before, .topbar .leftside .nav-toggle span::after {
        width: 25px;
        height: 2px;
        content: "";
        display: block;
        border-radius: 6px;
        position: relative;
        background: #ffffff;
        transition: all 300ms ease-in-out; }
      .topbar .leftside .nav-toggle span::before {
        top: 7px; }
      .topbar .leftside .nav-toggle span::after {
        top: -9px; }
      .topbar .leftside .nav-toggle.is-open span {
        transform: rotate(90deg);
        visibility: hidden; }
      .topbar .leftside .nav-toggle.is-open span::before, .topbar .leftside .nav-toggle.is-open span::after {
        transform-origin: center;
        transform: rotate(45deg);
        transition-delay: 300ms;
        visibility: visible;
        top: 0; }
      .topbar .leftside .nav-toggle.is-open span::before {
        top: 2px; }
      .topbar .leftside .nav-toggle.is-open span::after {
        transform: rotate(-45deg); }
    @media screen and (min-width: 768px) {
      .topbar .leftside .mobile {
        display: none; } }
    .topbar .leftside .topbar-title {
      color: #ffffff;
      font-size: 0.375rem;
      font-weight: bold; }
      .topbar .leftside .topbar-title span {
        font-weight: 200; }
        .topbar .leftside .topbar-title span.trade {
          font-size: 0.6rem;
          vertical-align: top; }
          @media screen and (min-width: 768px) {
            .topbar .leftside .topbar-title span.trade {
              font-size: 0.875rem; } }
    @media screen and (min-width: 768px) {
      .topbar .leftside .topbar-title {
        font-size: 0.675rem; } }
  .topbar .rightside {
    justify-content: flex-end; }
    .topbar .rightside .notification {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row;
      padding: 0 20px 0 0;
      border-right: 1px solid #5E64BC; }
    .topbar .rightside .notification-icon {
      display: block;
      width: 20px;
      height: 20px;
      background: url("../images/icons/icon-bell.svg") no-repeat center center;
      background-size: 20px 20px; }
    .topbar .rightside .notification-signal {
      display: inline-block;
      width: 4px;
      height: 4px;
      margin: -20px 0 0 0;
      border-radius: 50%; }
      .topbar .rightside .notification-signal.active {
        background: #88DA85; }
    .topbar .rightside .user-profile {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 0 0 20px; }
      .topbar .rightside .user-profile span {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: red;
        background: url("../images/tree.jpg") no-repeat center center;
        background-size: 20px 20px; }
      .topbar .rightside .user-profile p {
        color: #ffffff;
        padding: 0 0 0 10px;
        font-size: 0.575rem; }

/****************************************************************

Sidebar Rules

****************************************************************/
.sidebar {
  width: 60px;
  height: calc(100% - 70px);
  position: absolute;
  z-index: 500;
  transform: translateY(-100%);
  transition: transform 300ms ease-in-out;
  transition-delay: 400ms;
  background: #4D4D71; }
  .sidebar.is-open {
    transform: translateY(0); }
  @media screen and (min-width: 768px) {
    .sidebar {
      width: 90px;
      transform: translateY(0); } }
  .sidebar .container {
    padding: 10px 0 0 0; }
    @media screen and (min-width: 768px) {
      .sidebar .container {
        padding: 20px 0 0 0; } }
  .sidebar .sidebar-icon_container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .sidebar .sidebar-icon_container:nth-child(2), .sidebar .sidebar-icon_container:nth-child(3), .sidebar .sidebar-icon_container:nth-child(4) {
      margin: 10px 0 0 0; }
    .sidebar .sidebar-icon_container.active {
      border-left: 4px solid #88DA84; }
    .sidebar .sidebar-icon_container:hover {
      border-left: 4px solid #88DA84; }
    .sidebar .sidebar-icon_container:hover span {
      margin: 0 0 0 -8px;
      opacity: 1; }
    .sidebar .sidebar-icon_container span {
      display: block;
      width: 20px;
      height: 20px;
      margin: 0 0 0 -4px;
      opacity: 0.4;
      background-size: 20px 20px; }
      .sidebar .sidebar-icon_container span.active {
        margin: 0 0 0 -4px;
        opacity: 1; }
      @media screen and (min-width: 768px) {
        .sidebar .sidebar-icon_container span {
          width: 20px;
          height: 20px;
          background-size: 20px 20px; } }
    .sidebar .sidebar-icon_container span.icon-1 {
      background: url("../images/icons/icon-dashboard.svg") no-repeat center center; }
    .sidebar .sidebar-icon_container span.icon-2 {
      background: url("../images/icons/icon-members.svg") no-repeat center center; }
    .sidebar .sidebar-icon_container span.icon-3 {
      background: url("../images/icons/icon-visits.svg") no-repeat center center; }
    .sidebar .sidebar-icon_container span.icon-4 {
      background: url("../images/icons/icon-settings.svg") no-repeat center center; }

/****************************************************************

Dashboard Rules

****************************************************************/
.dashboard {
  /****************************************************************

  Dashboard Topbar Rules

  ****************************************************************/
  /****************************************************************

  Dashboard Alertbar Rules

  ****************************************************************/
  /****************************************************************

  Dashboard Traffic Rules

  ****************************************************************/
  /****************************************************************

  Dashboard Information Rules

  ****************************************************************/
  /****************************************************************

  Dashboard Members Rules

  ****************************************************************/
  /****************************************************************

  Dashboard Members Rules

  ****************************************************************/
  /****************************************************************

  Dashboard Settings Rules

  ****************************************************************/ }
  @media screen and (min-width: 768px) {
    .dashboard {
      padding: 0 0 0 90px; } }
  .dashboard .dashboard-topbar {
    height: 65px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DBDBDB; }
  .dashboard .dashboard-topbar-leftside, .dashboard .dashboard-topbar-rightside {
    width: 50%;
    display: flex;
    align-items: center; }
  .dashboard .dashboard-topbar-leftside {
    justify-content: flex-start; }
    .dashboard .dashboard-topbar-leftside .dashboard-topbar-title {
      height: 101%;
      margin-top: 1px;
      padding: 0 20px 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      border-right: 1px solid #DBDBDB; }
    .dashboard .dashboard-topbar-leftside .dashboard-topbar-title h2 {
      color: #676666;
      font-size: 0.938rem;
      font-weight: 700; }
  .dashboard .dashboard-topbar-rightside {
    justify-content: flex-end;
    position: relative; }
    .dashboard .dashboard-topbar-rightside label {
      background: green; }
      .dashboard .dashboard-topbar-rightside label img {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 10px;
        right: 30px; }
    .dashboard .dashboard-topbar-rightside input[type="text"] {
      -moz-appearance: none;
      -webkit-appearance: none;
      width: 100%;
      max-width: 380px;
      margin: 0 20px 0 0;
      padding: 10px;
      background: #ffffff;
      border: 1px solid #DBDBDB;
      border-radius: 6px; }
  .dashboard .dashboard-alertbar {
    padding: 30px 20px 0px 20px;
    background: #ffffff; }
    .dashboard .dashboard-alertbar.open {
      display: block; }
    .dashboard .dashboard-alertbar .dashboard-alertbar-inner {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      min-height: 40px;
      padding: 20px 20px 20px 20px;
      border-radius: 3px;
      position: relative;
      opacity: 1;
      transition: opacity 300ms ease-in-out;
      background: #7379BD; }
      .dashboard .dashboard-alertbar .dashboard-alertbar-inner.close {
        opacity: 0;
        display: none; }
      @media screen and (min-width: 768px) {
        .dashboard .dashboard-alertbar .dashboard-alertbar-inner {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row; } }
      .dashboard .dashboard-alertbar .dashboard-alertbar-inner h3 {
        font-size: 0.875rem;
        color: #ffffff; }
      .dashboard .dashboard-alertbar .dashboard-alertbar-inner p {
        margin: 5px 0 0 0;
        font-size: 0.813rem;
        color: #ffffff; }
        @media screen and (min-width: 768px) {
          .dashboard .dashboard-alertbar .dashboard-alertbar-inner p {
            width: 100%;
            margin: 0 0 0 10px; } }
      .dashboard .dashboard-alertbar .dashboard-alertbar-inner span {
        width: 10px;
        height: 10px;
        padding: 0 0 0 10px;
        display: block;
        cursor: pointer;
        position: absolute;
        top: 22px;
        right: 20px;
        background: url("../images/delete.svg") no-repeat center center;
        background-size: 10px 10px; }
        @media screen and (min-width: 768px) {
          .dashboard .dashboard-alertbar .dashboard-alertbar-inner span {
            position: static; } }
  .dashboard .dashboard-traffic {
    padding: 30px 20px 30px 20px;
    background: #ffffff;
    border-bottom: 1px solid #DBDBDB;
    /****************************************************************

    Dashboard Traffic Line Chart Rules

    ****************************************************************/ }
    .dashboard .dashboard-traffic .dashboard-traffic-navbar {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column; }
      @media screen and (min-width: 768px) {
        .dashboard .dashboard-traffic .dashboard-traffic-navbar {
          flex-direction: row; } }
      .dashboard .dashboard-traffic .dashboard-traffic-navbar .dashboard-traffic-navbar-leftside, .dashboard .dashboard-traffic .dashboard-traffic-navbar .dashboard-traffic-navbar-rightside {
        display: flex;
        align-items: center; }
      .dashboard .dashboard-traffic .dashboard-traffic-navbar .dashboard-traffic-navbar-leftside {
        margin: 0 0 20px;
        justify-content: flex-start; }
        .dashboard .dashboard-traffic .dashboard-traffic-navbar .dashboard-traffic-navbar-leftside h3 {
          font-size: 1rem;
          font-weight: normal;
          text-transform: uppercase;
          color: #676666; }
      @media screen and (min-width: 768px) {
        .dashboard .dashboard-traffic .dashboard-traffic-navbar .dashboard-traffic-navbar-leftside {
          width: 50%;
          margin: 0;
          padding: 6px 0px 8px;
          justify-content: flex-start; } }
      .dashboard .dashboard-traffic .dashboard-traffic-navbar .dashboard-traffic-navbar-rightside {
        justify-content: center; }
        .dashboard .dashboard-traffic .dashboard-traffic-navbar .dashboard-traffic-navbar-rightside ul {
          display: flex;
          align-items: center; }
        .dashboard .dashboard-traffic .dashboard-traffic-navbar .dashboard-traffic-navbar-rightside li {
          padding: 6px 12px 8px; }
        .dashboard .dashboard-traffic .dashboard-traffic-navbar .dashboard-traffic-navbar-rightside li.active {
          padding: 6px 12px 8px;
          border-radius: 3px;
          background: #83C891; }
        .dashboard .dashboard-traffic .dashboard-traffic-navbar .dashboard-traffic-navbar-rightside a {
          font-weight: bold;
          font-size: 0.688rem;
          color: #676666; }
        .dashboard .dashboard-traffic .dashboard-traffic-navbar .dashboard-traffic-navbar-rightside a.active {
          color: #ffffff; }
      @media screen and (min-width: 768px) {
        .dashboard .dashboard-traffic .dashboard-traffic-navbar .dashboard-traffic-navbar-rightside {
          width: 50%;
          justify-content: flex-end; } }
    .dashboard .dashboard-traffic .dashboard-traffic-linechart {
      padding: 30px 0 0 0; }
      .dashboard .dashboard-traffic .dashboard-traffic-linechart canvas {
        width: 100% !important;
        height: 270px; }
  .dashboard .dashboard-information {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-bottom: 1px solid #DBDBDB; }
    @media screen and (min-width: 768px) {
      .dashboard .dashboard-information {
        flex-direction: row; } }
    .dashboard .dashboard-information .dashboard-info-leftside, .dashboard .dashboard-information .dashboard-info-rightside {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .dashboard .dashboard-information .dashboard-info-leftside, .dashboard .dashboard-information .dashboard-info-rightside {
          width: 50%; } }
    .dashboard .dashboard-information .dashboard-info-title h2 {
      font-size: 0.938rem;
      font-weight: normal;
      text-transform: uppercase;
      color: #676666; }
    .dashboard .dashboard-information .dashboard-info-leftside {
      padding: 30px 20px 30px 20px;
      border-bottom: 1px solid #DBDBDB;
      /****************************************************************

      Dashboard Traffic Bar Chart Rules

      ****************************************************************/ }
      @media screen and (min-width: 768px) {
        .dashboard .dashboard-information .dashboard-info-leftside {
          border-right: 1px solid #DBDBDB;
          border-bottom: none; } }
      .dashboard .dashboard-information .dashboard-info-leftside .dashboard-info-barchart {
        padding: 0;
        height: 100%;
        display: flex;
        padding: 25px 0 0 0;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        .dashboard .dashboard-information .dashboard-info-leftside .dashboard-info-barchart canvas {
          width: 100%;
          height: 100%; }
    .dashboard .dashboard-information .dashboard-info-rightside {
      padding: 30px 20px 30px 20px;
      /****************************************************************

      Dashboard Traffic Doughnut Chart Rules

      ****************************************************************/ }
      .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart {
        padding: 25px 0px 0 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%; }
        @media screen and (min-width: 1060px) {
          .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart {
            flex-direction: row; } }
        .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: row; }
          @media screen and (min-width: 1060px) {
            .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels {
              flex-direction: column; } }
          .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels .dashboard-info-labels-phone,
          .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels .dashboard-info-labels-tablets,
          .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels .dashboard-info-labels-desktop {
            display: flex;
            margin: 0px 20px 0 0; }
            @media screen and (min-width: 1060px) {
              .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels .dashboard-info-labels-phone,
              .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels .dashboard-info-labels-tablets,
              .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels .dashboard-info-labels-desktop {
                margin: 20px 0px 0 0; } }
          .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels .dashboard-info-labels-phone {
            margin: 0px 20px 0 0; }
            @media screen and (min-width: 1060px) {
              .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels .dashboard-info-labels-phone {
                margin: 0; } }
          .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels .dashboard-info-labels-phone span,
          .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels .dashboard-info-labels-tablets span,
          .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels .dashboard-info-labels-desktop span {
            width: 20px;
            height: 20px;
            margin: 0 10px 0 0;
            border-radius: 3px; }
          .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels .dashboard-info-labels-phone span {
            background: #74b1bf; }
          .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels .dashboard-info-labels-tablets span {
            background: #81c98f; }
          .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels .dashboard-info-labels-desktop span {
            background: #7377bf; }
          .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels .dashboard-info-labels-phone p,
          .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels .dashboard-info-labels-tablets p,
          .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart .dashboard-info-labels .dashboard-info-labels-desktop p {
            font-size: 0.813rem;
            color: #676666; }
        .dashboard .dashboard-information .dashboard-info-rightside .dashboard-info-doughnutchart canvas {
          width: 100%;
          height: 100%;
          max-width: 80%;
          margin: 0 0 20px 0; }
  .dashboard .dashboard-social {
    padding: 30px 20px 30px 20px;
    background: #ffffff;
    border-bottom: 1px solid #DBDBDB; }
    .dashboard .dashboard-social .dashboard-social-title h2 {
      font-size: 0.938rem;
      font-weight: normal;
      text-transform: uppercase;
      color: #676666; }
    .dashboard .dashboard-social .dashboard-social-boxes {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 20px;
      justify-content: center; }
      @media screen and (min-width: 768px) {
        .dashboard .dashboard-social .dashboard-social-boxes {
          flex-direction: row;
          justify-content: space-between; } }
      .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-box-one,
      .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-box-two,
      .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-box-three {
        width: 70%;
        max-width: 328px;
        height: 118px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        border-radius: 6px;
        border: 1px solid #DBDBDB;
        background: #FBFBFB; }
        @media screen and (min-width: 768px) {
          .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-box-one,
          .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-box-two,
          .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-box-three {
            width: auto; } }
      .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-box-one,
      .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-box-two {
        margin-right: 0px;
        margin-bottom: 20px; }
        @media screen and (min-width: 768px) {
          .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-box-one,
          .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-box-two {
            margin-right: 20px;
            margin-bottom: 0px; } }
      .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        margin-right: 10px;
        margin-left: 10px;
        background: #7379BD; }
      .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-box-one span,
      .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-box-two span,
      .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-box-three span {
        display: inline-block;
        width: 60px;
        height: 60px; }
      .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-box-one span {
        margin-top: 5px;
        background: url("../images/icons/icon-twitter.svg") no-repeat center center;
        background-size: 35px 35px; }
      .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-box-two span {
        margin-bottom: 5px;
        background: url("../images/icons/icon-facebook.svg") no-repeat center center;
        background-size: 35px 35px; }
      .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-box-three span {
        background: url("../images/icons/icon-google-plus.svg") no-repeat center center;
        background-size: 30px 30px; }
      .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-box-content h3 {
        font-size: 0.813rem;
        color: #7479BD; }
      .dashboard .dashboard-social .dashboard-social-boxes .dashboard-social-box-content p {
        font-size: 1.225rem;
        font-weight: 300;
        color: #676666; }
  .dashboard .dashboard-members {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-bottom: 1px solid #DBDBDB; }
    @media screen and (min-width: 768px) {
      .dashboard .dashboard-members {
        flex-direction: row; } }
    .dashboard .dashboard-members .dashboard-members-leftside, .dashboard .dashboard-members .dashboard-members-rightside {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .dashboard .dashboard-members .dashboard-members-leftside, .dashboard .dashboard-members .dashboard-members-rightside {
          width: 50%; } }
    .dashboard .dashboard-members .dashboard-members-title h2 {
      font-size: 0.938rem;
      font-weight: normal;
      text-transform: uppercase;
      color: #676666; }
    .dashboard .dashboard-members .dashboard-members-leftside {
      padding: 30px 20px 10px 20px;
      border-bottom: 1px solid #DBDBDB; }
      @media screen and (min-width: 768px) {
        .dashboard .dashboard-members .dashboard-members-leftside {
          border-right: 1px solid #DBDBDB;
          border-bottom: none; } }
      .dashboard .dashboard-members .dashboard-members-leftside .dashboard-new_members-container .dashboard-new_members-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        border-bottom: 1px solid #DBDBDB; }
        .dashboard .dashboard-members .dashboard-members-leftside .dashboard-new_members-container .dashboard-new_members-row:last-of-type {
          border-bottom: none; }
      .dashboard .dashboard-members .dashboard-members-leftside .dashboard-new_members-container .dashboard-new_members-face {
        width: 40px;
        height: 40px;
        display: flex;
        border-radius: 100%; }
        .dashboard .dashboard-members .dashboard-members-leftside .dashboard-new_members-container .dashboard-new_members-face img {
          margin-right: 10px;
          border-radius: 100%; }
        .dashboard .dashboard-members .dashboard-members-leftside .dashboard-new_members-container .dashboard-new_members-face .dashboard-new_members-info h3 {
          font-size: 0.875rem;
          font-weight: normal;
          color: #676666; }
        .dashboard .dashboard-members .dashboard-members-leftside .dashboard-new_members-container .dashboard-new_members-face .dashboard-new_members-info p {
          font-size: 0.813rem;
          font-weight: normal;
          color: #7479BD; }
      .dashboard .dashboard-members .dashboard-members-leftside .dashboard-new_members-container .dashboard-new_members-date {
        display: none; }
        .dashboard .dashboard-members .dashboard-members-leftside .dashboard-new_members-container .dashboard-new_members-date p {
          font-size: 0.813rem;
          font-weight: normal;
          color: #676666; }
        @media screen and (min-width: 425px) {
          .dashboard .dashboard-members .dashboard-members-leftside .dashboard-new_members-container .dashboard-new_members-date {
            display: block; } }
    .dashboard .dashboard-members .dashboard-members-rightside {
      padding: 30px 20px 10px 20px; }
    .dashboard .dashboard-members .dashboard-recent_activity-container .dashboard-recent_activity-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      border-bottom: 1px solid #DBDBDB; }
      .dashboard .dashboard-members .dashboard-recent_activity-container .dashboard-recent_activity-row:last-of-type {
        border-bottom: none; }
    .dashboard .dashboard-members .dashboard-recent_activity-container .dashboard-recent_activity-face {
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 100%; }
      .dashboard .dashboard-members .dashboard-recent_activity-container .dashboard-recent_activity-face img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 100%; }
      .dashboard .dashboard-members .dashboard-recent_activity-container .dashboard-recent_activity-face .dashboard-recent_activity-info h3 {
        font-size: 0.8rem;
        font-weight: normal;
        color: #676666; }
      .dashboard .dashboard-members .dashboard-recent_activity-container .dashboard-recent_activity-face .dashboard-recent_activity-info p {
        font-size: 0.675rem;
        font-weight: normal;
        color: #676666; }
    .dashboard .dashboard-members .dashboard-recent_activity-container .dashboard-recent_activity-icon {
      width: 20px;
      height: 20px;
      margin-left: 20px; }
      @media screen and (min-width: 425px) {
        .dashboard .dashboard-members .dashboard-recent_activity-container .dashboard-recent_activity-icon {
          display: block; } }
  .dashboard .error {
    color: red; }
  .dashboard .dashboard-settings {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding-bottom: 40px; }
    @media screen and (min-width: 768px) {
      .dashboard .dashboard-settings {
        flex-direction: row; } }
    .dashboard .dashboard-settings .dashboard-settings-leftside, .dashboard .dashboard-settings .dashboard-settings-rightside {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .dashboard .dashboard-settings .dashboard-settings-leftside, .dashboard .dashboard-settings .dashboard-settings-rightside {
          width: 50%; } }
    .dashboard .dashboard-settings .dashboard-settings-title h2 {
      font-size: 0.938rem;
      font-weight: normal;
      text-transform: uppercase;
      color: #676666; }
    .dashboard .dashboard-settings .dashboard-settings-leftside {
      padding: 30px 20px 30px 20px;
      border-bottom: 1px solid #DBDBDB; }
      @media screen and (min-width: 768px) {
        .dashboard .dashboard-settings .dashboard-settings-leftside {
          border-right: 1px solid #DBDBDB;
          border-bottom: none; } }
      .dashboard .dashboard-settings .dashboard-settings-leftside .dashboard-settings-container {
        display: flex;
        flex-direction: column; }
        .dashboard .dashboard-settings .dashboard-settings-leftside .dashboard-settings-container input[type="text"] {
          -moz-appearance: none;
          -webkit-appearance: none;
          width: 100%;
          height: 50px;
          font-size: 0.813rem;
          margin: 20px 0 20px 0;
          padding: 10px;
          color: #676666;
          background: #ffffff;
          border: 1px solid #DBDBDB;
          border-radius: 6px; }
        .dashboard .dashboard-settings .dashboard-settings-leftside .dashboard-settings-container textarea {
          -moz-appearance: none;
          -webkit-appearance: none;
          width: 100%;
          height: 126px;
          font-size: 0.813rem;
          margin: 0 0 20px 0;
          padding: 10px;
          color: #676666;
          background: #ffffff;
          border: 1px solid #DBDBDB;
          border-radius: 6px; }
        .dashboard .dashboard-settings .dashboard-settings-leftside .dashboard-settings-container input[type="submit"] {
          height: 50px;
          border-radius: 6px;
          cursor: pointer;
          background: #7379BD; }
        .dashboard .dashboard-settings .dashboard-settings-leftside .dashboard-settings-container input[value] {
          font-size: 1rem;
          font-weight: bold;
          text-transform: uppercase;
          color: #ffffff; }
    .dashboard .dashboard-settings .dashboard-settings-rightside {
      padding: 30px 20px 30px 20px; }
    .dashboard .dashboard-settings .dashboard-settings-right-container .dashboard-settings-right-row {
      height: 35px;
      margin: 20px 0 30px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .dashboard .dashboard-settings .dashboard-settings-right-container .dashboard-settings-right-row:nth-child(2) {
        margin: 20px 0 40px; }
      .dashboard .dashboard-settings .dashboard-settings-right-container .dashboard-settings-right-row .dashboard-settings-right-text p {
        font-size: 0.813rem;
        color: #676666; }
      .dashboard .dashboard-settings .dashboard-settings-right-container .dashboard-settings-right-row .dashboard-settings-right-icon {
        width: 86px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px 0 10px;
        border-radius: 20px;
        position: relative;
        font-weight: bold;
        font-size: 0.775rem;
        color: #ffffff;
        border: 1px solid #DBDBDB;
        background: #7379BD; }
        .dashboard .dashboard-settings .dashboard-settings-right-container .dashboard-settings-right-row .dashboard-settings-right-icon .dashboard-settings-right-icon-button {
          width: 32px;
          height: 30px;
          border-radius: 100%;
          position: absolute;
          right: 3px;
          top: 4px;
          border: 1px solid #DBDBDB;
          background: #ffffff;
          transition: all 3s ease-in-out; }
          .dashboard .dashboard-settings .dashboard-settings-right-container .dashboard-settings-right-row .dashboard-settings-right-icon .dashboard-settings-right-icon-button.first.set1 {
            animation: move 300ms 1 forwards; }
          .dashboard .dashboard-settings .dashboard-settings-right-container .dashboard-settings-right-row .dashboard-settings-right-icon .dashboard-settings-right-icon-button.last.set2 {
            animation: move 300ms 1 forwards; }
@keyframes move {
  from {
    right: 3px; }
  to {
    left: 3px; } }
    .dashboard .dashboard-settings .dashboard-settings-right-container .dashboard-settings-right-select {
      position: relative; }
      .dashboard .dashboard-settings .dashboard-settings-right-container .dashboard-settings-right-select label img {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 23px;
        right: 10px; }
      .dashboard .dashboard-settings .dashboard-settings-right-container .dashboard-settings-right-select select {
        -moz-appearance: none;
        -webkit-appearance: none;
        width: 100%;
        height: 50px;
        font-size: 0.813rem;
        margin: 5px 0 20px 0;
        padding: 10px;
        color: #676666;
        background: #ffffff;
        border: 1px solid #DBDBDB;
        border-radius: 6px; }
    .dashboard .dashboard-settings .dashboard-settings-right-container .dashboard-settings-right-buttons {
      display: flex; }
      .dashboard .dashboard-settings .dashboard-settings-right-container .dashboard-settings-right-buttons input[type="submit"] {
        width: 50%;
        height: 50px;
        margin-right: 20px;
        border-radius: 6px;
        cursor: pointer;
        background: #7379BD; }
        .dashboard .dashboard-settings .dashboard-settings-right-container .dashboard-settings-right-buttons input[type="submit"]:nth-child(2) {
          margin: 0;
          background: #B2B2B2; }
      .dashboard .dashboard-settings .dashboard-settings-right-container .dashboard-settings-right-buttons input[value] {
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #ffffff; }

/* Micro Clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/*# sourceMappingURL=styles.css.map */
